<div class="col-sm-10">
    <div class="ItemManagCenterBox">
		<div class="col-sm-6" style="padding: 1%">
			<form name="itemCreate" data-ng-submit="ItemCreate()" method="POST">
				<div class="form-group">
			        <label for="Name">Item Name :</label>
			        <input type="text" class="form-control" id="Name" name="item_Name" data-ng-model="item.item_Name" data-ng-required="true" data-ng-minlength="2" maxlength="20">
			    </div>
			    <div class="form-group">
			        <label for="Price">Item Price :</label>
			        <input type="text" class="form-control" id="Price" name="item_Price" data-ng-model="item.item_Price" data-ng-required="true" data-ng-minlength="2" maxlength="10">
			    </div>
			    <div class="form-group">
			        <label for="Category">Item Category :</label>
			        <input type="text" class="form-control" id="Category" name="item_Category" data-ng-model="item.item_Category" data-ng-required="true" data-ng-minlength="2" maxlength="30">
			    </div>
			    <div class="form-group">
			        <label for="cost">Item Cost :</label>
			        <input type="text" class="form-control" name="item_cost" id="item_cost" data-ng-model="item.item_Cost" data-ng-required="true" data-ng-minlength="2" maxlength="10">
			    </div>
			    <button type="submit" class="btn btn-default">Submit</button>
			    <button type="button" class="btn btn-default" style="float: right;" data-ng-click="toItemManag()">cancel</button>
	         </form>
		</div>
		<div class="col-sm-6">
			<img src="resources/img/item_create.png">
		</div>
    </div>
    <div class="ItemManagDownBox">
        <button type="button" class="btn btn-default" data-ng-click="toPos()" id="ItemManagBackBtn">돌아가기</button>
    </div>
</div>    